.CardDetail{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin:2rem;
}

h4 {
    margin: 8px;
    font-family: 'Josefin Sans', sans-serif;
    color:  rgb(137, 120, 108);
    font-size: 30px;
    letter-spacing: 2px;
}

img{ 
    width: 450px;    
}

button{
    margin:15px;
    padding: 15px;
    background-image: url("/public/assets/productos/img/backg3.jpg");
    color:rgb(255, 253, 248);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 22px;
    letter-spacing: 5px;
    border-top-left-radius: 15px; 
    border-bottom-right-radius: 15px;
}
