.card{
    margin: 0px; 
    width: 360px;
    height: 100%;
    border-radius: 15px;
    
    box-shadow: 0px 0px 30px rgba(114, 109, 105, 0.736);
    background-color: white;
    overflow: hidden;
    transition:  all 0.10s ease-in;
    cursor: pointer;
    background-image: url("/public/assets/productos/img/backg3.jpg");
}

.card-img{
    width: 360px;
    height: 400px;
    object-fit: cover;
}
.card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card:hover{
    transform: translateY(-20px);
}

.card-detail{
    margin-top: 19px;
    margin-bottom: 19px;
    padding:3px;
    background-color: rgba(37, 36, 35, 0.424);
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
}

button.ver-mas {
    padding:12px;
    margin: 6px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 6px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-color: rgba(240, 237, 235, 0.494);
    box-shadow: 0px 0px 18px rgb(242, 240, 239);
    cursor: pointer;
}
.card h3 {
    margin: 8px;
    padding: 2px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Poiret One', cursive;
    font-size: 22px;
    color:  rgb(249, 248, 248);
    letter-spacing: 8px;
}